<div id="home" class="cf">
    <div class="banner" navigate="/why-victa">
        <img src="Assets/img/home-banner.jpg" />
        <div class="gradient-reverse label"><h1 class="light-text">Why VICTA</h1></div>
    </div>
    <div class="locator" navigate="/locator">
        <img src="Assets/img/locator-map.jpg" />
        <div class="gradient-reverse label"><h2 class="light-text">Service Dealer Locator</h2></div>
    </div>
    <div class="about" navigate="/about">
        <img src="Assets/img/about-this-app-image.jpg" />
        <div class="gradient-reverse label"><h2 class="light-text">About This App</h2></div>
    </div>
    <div class="best-sellers" navigate="/best-sellers">
        <img src="Assets/img/best-sellers-image.jpg" />
        <div class="gradient-reverse label"><h2 class="light-text">Best Sellers</h2></div>
    </div>
</div>